[submodule "frontend"]
	path = frontend
	url = https://github.com/hhsu15/frontend.git
[submodule "complex_example"]
	path = complex_example
	url = https://github.com/hhsu15/complex_example.git
[submodule "simplek8s"]
	path = simplek8s
	url = https://github.com/hhsu15/simplek8s.git
